div.table-responsive {
  width: 80vw;
}

div.search-box {
  margin: 2em auto;
  width: 60vw;
}


thead {
  display: block;
  background-color: lightblue;
}
tr {
  display: block;
  overflow: auto;
  height: 5em;
}

td.name,
th.name {
  min-width: 12em;
  max-width: 12em;
}

td.town,
th.town {
  min-width: 12em;
  max-width: 12em;

}

td.state,
th.state {
  min-width: 12em;
  max-width: 12em;
  word-wrap: break-word;
}

td.comments,
th.comments {
  /*width: 30em;*/
  word-wrap: break-word;
  min-width: 30em;
  max-width: 30em;
}
